{% extends 'polls/base.html' %}
	{% block content %}
		<!-- About Section -->
		<div class="w3-container w3-padding-32 w3-center">  
			<h3>About Polls</h3><br>
			{% load static %}
		    <img src="{%static 'polls/images/techno-girl.jpg' %}" style="display:block;margin:auto" width="800" height="533">
		    <div class="w3-padding-32">
		      <h4><b>Polls is a Django Tutorial</b></h4>
		      <h6><i>With Passion For Real, Good Technology</i></h6>
		      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		    </div>
		</div>
		  <hr>

	{% endblock %}