{% extends 'polls/base.html' %}
	{% block content %}

		{% if latest_question_list %}
		    <div class="w3-row-padding w3-padding-16 w3-center" id="question">
		    {% for question in latest_question_list %}
		    	<div class="w3-quarter">
		    	{% load static %}
		    		{% if question.image %}
      					<img src="{% static question.imagename %}" alt="pytux">
      				{% else %}
      					<img src="{%static 'polls/images/no-image.png' %}" alt="no-image">
      				{% endif %}
      				<h3><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h3>
      				<p>{{ question.question_description }}</p>
   				 </div>
		    {% endfor %}
		    </ul>
		    </div>
		{% else %}
		    <p>No polls are available.</p>
		{% endif %}

	{% endblock %}
